@mixin max-screen($res){
  @media screen and (max-width: $res){
    @content;
  }
}

.custom-select {
  display: flex;

  @include max-screen(1100px) {
    flex-wrap: wrap;
  }
  @include max-screen(560px) {
    justify-content: center;
  }
}

.select-container {
  display: flex;

  @include max-screen(960px) {
    margin-bottom: 10px;
  }
}

.option-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
}

.selected-option_item, .option {
  border: none;
  background: #EBEBEB;
  border-radius: 14.5px;
  padding: 3px 18px;
  box-sizing: border-box;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 145%;
  color: #343434;
  outline: none;
  margin-right: 10px;
  white-space: nowrap;
  @include max-screen(530px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.selected-option {
  display: flex;
  flex-wrap: wrap;
}

.selected-option_item {
  @include max-screen(975px) {
    margin-bottom: 10px;
  }
}

.remove-option {
padding: 0 5px;
}

.option {
  @include max-screen(975px) {
    margin-bottom: 10px;
  }

  @include max-screen(560px) {
    justify-content: center;
  }

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}