.header_carousel_item_container {
  display: flex;
  justify-content: space-evenly;
  padding: 145px 0;
  position: relative;
}

.header_carousel_item {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;

  &:not(:first-of-type) {
    max-width: 400px;
    width: 100%;
  }


  &:first-of-type {
    background-color: #FFFFFF;
    padding: 0 41px;
  }
}

.header_carousel_item_img {
  img {
    display: block;
    width: 100%;
  }

  &.third {
    background-color: #3D948E;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 33%!important;
    }
  }
}

.header_carousel_caption {
    position: absolute;
    top: 405px;

  &.one {
    left: 42%;
  }

  &.two {
    right: 25%;
  }
}

.header_carousel_theme {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #343434;
  background-color: #EBEBEB;
  border: none;
  border-radius: 15px;
  padding: 8px 10px;
  text-align: start;
}

.carousel-indicators {
  position: absolute;
  right: 4%;
  bottom: 40%;
   left: initial;
  margin-right: 0;
   margin-left: 0;
  flex-direction: column;
 }

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.carousel-item {
  transform: translate3d(0, 100%, 0);
  transition: 0.7s;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  transform: translate3d(0, 0, 0);
}

.carousel.vertical .carousel-item-next,
.carousel.vertical .carousel-item-prev {
  transform: translate3d(0, 100%, 0);
}

.carousel.vertical .carousel-item-right.active,
.carousel.vertical .carousel-item-next {
  transform: translate3d(0, -100%, 0);
}

.carousel.vertical .carousel-item-left.active,
.carousel.vertical .carousel-item-prev {
  transform: translate3d(0, 100%, 0);
}