@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin adaptive-font($maxSize, $minSize) {
  $addSize: $maxSize - $minSize;
  font-size: calc(#{$minSize + px} + #{$addSize} * ((100vw) / #{$maxWidth}));
}


.service_blocks {
  display: flex;
  justify-content: center;

  @include max-screen(860px) {
    flex-wrap: wrap;
  }
}

.service_container {
  padding: 65px 20px ;


  @include max-screen(768px) {
    padding: 65px 15px 20px 15px;
  }

  h3 {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #999B9A;
    margin-bottom: 50px;

    @include max-screen(420px) {
      font-size: 40px;
      line-height: 46px;
    }
  }

  .service_block_btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include max-screen(610px) {
      flex-direction: column;
    }

    h4 {
      font-family: "Museo Sans Cyrl", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 145%;
      text-align: center;
      color: #8b8585;
      margin-right: 15px;

      @include max-screen(610px) {
        max-width: 205px;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    .service_block_btns {
      display: flex;
    }

    .service_block_btn {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: 1px solid grey;

      &:not(:last-of-type) {
        margin-right: 15px;
      }



      &.yellow_btn {
        background-color: #dcce90 ;
        border-color: #dcce90;
      }

      &.green_btn {
        background-color: #29B4AD ;
        border-color: #29B4AD;
      }

      &.green_transparent_btn {
        border-color: #23B6B0;
      }

      &.grey_transparent_btn {
        border-color: #B5B7B6;
      }

      &.yellow_btn, &.green_btn, &.green_transparent_btn, &.grey_transparent_btn {
        &:hover {
          border-color: black;
        }
      }
    }
  }
}

