@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: local('Museo Sans Cyrl 100'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot);
    src: local('Museo Sans Cyrl 100'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot?#iefix) format('mbedded-opentype');
    src: local('Museo Sans Cyrl 100'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff2) format('woff2');
    src: local('Museo Sans Cyrl 100'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff) format('woff');
    src: local('Museo Sans Cyrl 100'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-100.ttf) format('truetype');
    src: local('Museo Sans Cyrl 100'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-100.svg) format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: local('Museo Sans Cyrl 500'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot);
    src: local('Museo Sans Cyrl 500'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix) format('mbedded-opentype');
    src: local('Museo Sans Cyrl 500'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff2) format('woff2');
    src: local('Museo Sans Cyrl 500'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff) format('woff');
    src: local('Museo Sans Cyrl 500'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf) format('truetype');
    src: local('Museo Sans Cyrl 500'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-500.svg) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: local('Museo Sans Cyrl 300'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot);
    src: local('Museo Sans Cyrl 300'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix) format('mbedded-opentype');
    src: local('Museo Sans Cyrl 300'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2) format('woff2');
    src: local('Museo Sans Cyrl 300'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff) format('woff');
    src: local('Museo Sans Cyrl 300'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf) format('truetype');
    src: local('Museo Sans Cyrl 300'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg) format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: local('Museo Sans Cyrl 700'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot);
    src: local('Museo Sans Cyrl 700'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix) format('mbedded-opentype');
    src: local('Museo Sans Cyrl 700'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2) format('woff2');
    src: local('Museo Sans Cyrl 700'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff) format('woff');
    src: local('Museo Sans Cyrl 700'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf) format('truetype');
    src: local('Museo Sans Cyrl 700'), url(./fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Light.eot);
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Light.eot?#iefix) format('mbedded-opentype');
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Light.woff2) format('woff2');
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Light.woff) format('woff');
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Light.ttf) format('truetype');
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Light.svg) format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}